<app-navbars></app-navbars>
<main class="profile-page">
  <section class="relative block" style="height: 500px;">
    <div class="absolute w-full h-full bg-center bg-cover"
      style='background-image: url("../assets/img/ninos.jpg");'>
      <span id="blackOverlay" class="w-full h-full absolute opacity-50 bg-black"></span>
    </div>
    <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
      style="height: 70px; transform: translateZ(0px);">
      <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
        version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon class="text-gray-300 fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="relative py-16 bg-gray-300">
    <div class="container mx-auto px-4">
      <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg -mt-64">
        <div class="px-6">
          <div class="flex flex-wrap justify-center">
            <div class="w-full lg:w-3/12 px-4 lg:order-2 flex justify-center">
              <div class="relative">
                <img alt="..." src="./assets/img/manosNinos.jpg"
                  class="shadow-xl rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16"
                  style="max-width: 150px;" />
              </div>
            </div>
            <div class="w-full lg:w-4/12 px-4 lg:order-3 lg:text-right lg:self-center">
              <!--Boton de registrar -->
              <div class="card bg-dark text-white">
                <div class="card-img-overlay">
                  <button type="button" class="btn btn-primary btn-lg btn-round" data-toggle="modal"
                    data-target="#exampleModal">
                    Registrarse</button>
                </div>
              </div>
              <!--FIN-->
            </div>
            <div class="w-full lg:w-4/12 px-4 lg:order-1">
              <div class="flex justify-center py-4 lg:pt-4 pt-8">
                <div class="mr-4 p-3 text-center">
                  <span class="text-xl font-bold block uppercase tracking-wide text-gray-700"></span><span
                    class="text-sm text-gray-500"></span>
                </div>
                <div class="mr-4 p-3 text-center">
                  <span class="text-xl font-bold block uppercase tracking-wide text-gray-700"></span><span
                    class="text-sm text-gray-500"></span>
                </div>
                <div class="lg:mr-4 p-3 text-center">
                  <span class="text-xl font-bold block uppercase tracking-wide text-gray-700"></span><span
                    class="text-sm text-gray-500"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-12">
            <h3 class="text-4xl font-semibold leading-normal mb-2 text-gray-800 mb-2">
              CASA HOGAR DE LA NIÑEZ
            </h3>
            <div class="text-sm leading-normal mt-0 mb-2 text-gray-500 font-bold uppercase">
              <i class="fas fa-map-marker-alt mr-2 text-lg text-gray-500"></i>
              Lugar: Recidencial Rio de Piedras, San pedro sula. 
            </div>
            <div class="mb-2 text-gray-700 mt-10">
              <i class="fas fa-briefcase mr-2 text-lg text-gray-500"></i><strong> Fecha: 30 junio 2020 </strong>
            </div>
            <div class="mb-2 text-gray-700 ">
              <i class="fas fa-briefcase mr-2 text-lg text-gray-500"></i><strong> Horario: 8:30 a.m. a 12:30 p.m.</strong>
            </div>
            <div class="mb-2 text-gray-700">
              <i class="fas fa-university mr-2 text-lg text-gray-500"></i><strong> Ingeniero encargado - Fernando Mendoza </strong>
            </div>
            <div class="mb-2 text-gray-700">
              <i class="fas fa-university mr-2 text-lg text-gray-500"></i><strong> Horas estipuladas por participar: 12 </strong>
            </div>
          </div>
          <div class="mt-10 py-10 border-t border-gray-300 text-center">
            <div class="flex flex-wrap text-capitalize justify-center">
              <div class="w-full lg:w-9/12 px-4">
                <p class="mb-2 text-lg leading-relaxed text-gray-800">
                  Niños, niñas y adolescentes tienen un hogar en donde se les abre una ventana de oportunidades para poder crecer en mejor ambiente, 
                  luego que algunos de ellos fueran víctimas de abuso sexual, abandono por parte de sus padres o maltratos verbales.</p>
                <p class="mb-4 text-lg leading-relaxed text-gray-800">El Refugio es el lugar que da paz, amor y mejores condiciones de vida a los 71 menores y jóvenes que llegan ahí remitidos de la Dirección de Niñez Adolescencia y Familia (Dinaf). Christof Wittwer, de origen suizo, es el director de El Refugio ubicado en Ticamaya, sector Choloma, y comentó que ayudan a los infantes desde octubre de 1997.</p>
                <p class="mb-4 text-lg leading-relaxed text-gray-800">“Aquí es un hogar permanente para niños, niñas y adolescentes que por diversos motivos no pueden vivir con sus familiares y aquí se les da alimentación, techo,
                  educación, salud, atención psicológica, recreación y se le da la oportunidad de estudiar”.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<!--<app-footer_profile></app-footer_profile> -->

<!-- MODAL DE VINCULACION -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registrarse</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  [formGroup]="forma" (ngSubmit)="registrarUsuario()">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputnombre4">Nombre</label>
              <input formControlName= "nombre" name="nombre" type="text" class="form-control" required placeholder="Nombre">
            </div>
            <div class="form-group col-md-6">
              <label for="inputEmail4">Correo</label>
              <input formControlName= "email" name="email" type="email" class="form-control" required placeholder="Email">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--FIN MODAL-->