<app-navbars></app-navbars>
<main>
  <div class="relative pt-16 pb-32 flex content-center items-center justify-center" style="min-height: 75vh;">
    <div class="absolute w-full h-full bg-center bg-cover" data-parallax="true"
      style='background-image: url("../assets/img/manos.jpeg");'>
      <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-black"></span>
    </div>
    <div class="container relative mx-auto">
      <div class="items-center flex flex-wrap">
        <div class="w-full px-4 ml-auto mr-auto text-center">
          <div class="pr-12">
            <h1 class="text-white font-semibold text-5xl">
              Vinculaciones CEUTEC
            </h1>
            <p class="mt-4 text-lg text-gray-300 ">
              <strong> Un área institucional con impacto positivo en la sociedad es la vinculación universitaria, que
                involucra actividades orientadas a beneficiar a poblaciones a través del Programa de Servicio Social
                (ProSeSo),
                el Instituto de Investigación de Políticas Públicas (IIPP) y el Centro de Energías Renovables (CERS),
                entre otros.
              </strong>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
      style="height: 70px; transform: translateZ(0px);">
      <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
        version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon class="text-gray-300 fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <section class="pb-20 bg-gray-300 -mt-24">
    <div class="container mx-auto px-4">


      <div class="vinculacion1" class="flex flex-wrap">
        <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400"
                style='background-image: url("https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");'>
                <i class="fas fa-award"></i>
              </div>
              <h6 class="text-xl font-semibold"> Casa hogar de la niñez </h6>
              <p class="mt-2 mb-4 text-dark">
                <strong> Nunca es demasiado tarde para tener una infancia feliz!
                  Nuestra intención siempre será apoyar a los niños de la casa hogar con la finalidad de llevar sonrisas
                  a sus rostros. Es por ello que te invitamos que te unas con nosotros</strong>
              </p>
              <div class="py-6 px-3 mt-32 sm:mt-0">
                <button
                  class="bg-pink-500 active:bg-pink-600 uppercase text-white font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1"
                  type="button" style="transition: all 0.15s ease 0s;" routerLink='/profile'>
                  más información
                </button>
              </div>
            </div>
          </div>
        </div>





        <div class="w-full md:w-4/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400"
                style='background-image: url("../assets/img/cancer.jpeg");'>
                <i class="fas fa-retweet"></i>
              </div>
              <h6 class="text-xl font-semibold"> Liga contra el cancer</h6>
              <p class="mt-2 mb-4 text-dark">
                <strong> Nuestro campo de acción es la prevención y lucha contra el cáncer, gestión de fondos antes los
                  distintos sectores de la comunidad nacional e internacional,
                  formación y educación continua de recurso humano en las distintas disciplinas involucradas en esta
                  enfermedad.
                </strong>
              </p>
              <div class="py-6 px-3 mt-32 sm:mt-0">
                <button
                  class="bg-pink-500 active:bg-pink-600 uppercase text-white font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1"
                  type="button" style="transition: all 0.15s ease 0s;" routerLink='/perfil1'>
                  más información
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="pt-6 w-full md:w-4/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-400"
                style='background-image: url("../assets/img/ancianos.jpeg");'>
                <i class="fas fa-fingerprint"></i>
              </div>
              <h6 class="text-xl font-semibold">casa del adulto mayor</h6>
              <p class="mt-2 mb-4 text-dark">
                <strong>«Casa Mayor viene a ser una necesidad que en San Pedro Sula se requería, no había un lugar con
                  todas las condiciones básicas para asistir
                  a un adulto mayor y nosotros los atendemos como se merecen», comenzó diciendo Abastida.</strong>
              </p>
              <div class="py-6 px-3 mt-32 sm:mt-0">
                <button
                  class="bg-pink-500 active:bg-pink-600 uppercase text-white font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1"
                  type="button" style="transition: all 0.15s ease 0s;" routerLink='/perfil2'>
                  más información
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="flex flex-wrap">
        <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400">
                <i class="fas fa-award"></i>
              </div>
              <h6 class="text-xl font-semibold">Vinculacion 4</h6>
              <p class="mt-2 mb-4 text-gray-600">
                Divide details about your product or agency work into parts.
                A paragraph describing a feature will be enough.
              </p>
              <div class="py-6 px-3 mt-32 sm:mt-0">
                <button
                  class="bg-pink-500 active:bg-pink-600 uppercase text-white font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1"
                  type="button" style="transition: all 0.15s ease 0s;" routerLink='/perfil3'>
                  Suscríbete
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-4/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400">
                <i class="fas fa-retweet"></i>
              </div>
              <h6 class="text-xl font-semibold">Vinculacion 5</h6>
              <p class="mt-2 mb-4 text-gray-600">
                Keep you user engaged by providing meaningful information.
                Remember that by this time, the user is curious.
              </p>
              <div class="py-6 px-3 mt-32 sm:mt-0">
                <button
                  class="bg-pink-500 active:bg-pink-600 uppercase text-white font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1"
                  type="button" style="transition: all 0.15s ease 0s;" routerLink='/perfil4'>
                  Suscríbete
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="pt-6 w-full md:w-4/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-400">
                <i class="fas fa-fingerprint"></i>
              </div>
              <h6 class="text-xl font-semibold">Vinculacion 6</h6>
              <p class="mt-2 mb-4 text-gray-600">
                Write a few lines about each one. A paragraph describing a
                feature will be enough. Keep you user engaged!
              </p>
              <div class="py-6 px-3 mt-32 sm:mt-0">
                <button
                  class="bg-pink-500 active:bg-pink-600 uppercase text-white font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1"
                  type="button" style="transition: all 0.15s ease 0s;" routerLink='/perfil5'>
                  Suscríbete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-wrap">
        <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-xl rounded-full bg-red-400"
                style='background-image: url("./assets/img/Merendon1.PNG");'>
                <i class="fas fa-award"></i>
              </div>
              <h6 class="text-xl font-semibold">Vinculacion 7</h6>
              <p class="mt-2 mb-4 text-gray-600">
                <strong> Gran campaña de reforestacion, Salvemos nuestro Merendoón! Día: 12/07/2020 Hora: 8:AM
                  Asignatura: Ecología Total de Horas: 8</strong>
              </p>
              <div class="py-6 px-3 mt-32 sm:mt-0">
                <button
                  class="bg-pink-500 active:bg-pink-600 uppercase text-white font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1"
                  type="button" style="transition: all 0.15s ease 0s;" routerLink='/perfil6'>
                  más información
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-4/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400">
                <i class="fas fa-retweet"></i>
              </div>
              <h6 class="text-xl font-semibold">Vinculacion 8</h6>
              <p class="mt-2 mb-4 text-gray-600">
                <strong> Por una ciudad mas limpia!, Limpieza de calles centricas de la ciudad. Día: 20/07/2020 Hora:
                  8:AM Asignatura: Ecología Total de Horas:4 </strong>
              </p>
              <div class="py-6 px-3 mt-32 sm:mt-0">
                <button
                  class="bg-pink-500 active:bg-pink-600 uppercase text-white font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1"
                  type="button" style="transition: all 0.15s ease 0s;" routerLink='/perfil7'>
                  más información
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="pt-6 w-full md:w-4/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-400">
                <i class="fas fa-fingerprint"></i>
              </div>
              <h6 class="text-xl font-semibold">Vinculacion 9</h6>
              <p class="mt-2 mb-4 text-gray-600">
                <strong> Proyecto de intalacion de red inalambrica. Día: 27/07/2020 Hora: 8:AM Asignatura: Ecología
                  Total de Horas:20 </strong>
              </p>
              <div class="py-6 px-3 mt-32 sm:mt-0">
                <button
                  class="bg-pink-500 active:bg-pink-600 uppercase text-white font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1"
                  type="button" style="transition: all 0.15s ease 0s;" routerLink='/perfil8'>
                  más información
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-wrap">
        <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400">
                <i class="fas fa-award"></i>
              </div>
              <h6 class="text-xl font-semibold">RUTH PAZ FUNDACIÓN</h6>
              <p class="mt-2 mb-4 text-gray-600">
                La Fundación Ruth Paz es una organización sin fines de lucro dedicada a proveer cuidados médicos
                excepcionales a niños y niñas hondureños de escasos recursos heridos y enfermos, complementando el
                proceso de curación con gentileza y dignidad en un ambiente centrado en la familia.
              <div class="py-6 px-3 mt-32 sm:mt-0">
                <button
                  class="bg-pink-500 active:bg-pink-600 uppercase text-white font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1"
                  type="button" style="transition: all 0.15s ease 0s;" routerLink='/perfil9'>
                  más información
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-4/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400">
                <i class="fas fa-retweet"></i>
              </div>
              <h6 class="text-xl font-semibold">FUNDACIÓN ABRIGO</h6>
              <p class="mt-2 mb-4 text-gray-600">

              </p>
              <p class="mt-2 mb-4 text-gray-600">
                Fundación abrigo, es una organización sin fines de lucro que ha funcionado en la ciudad por más de 16
                años. Fundada con el fin de brindar un hogar temporal digno a pacientes y a sus familiares de escasos
                recursos que se encuentran siendo atendidos en el Hospital Escuela.
              </p>
              <div class="py-6 px-3 mt-32 sm:mt-0">
                <button
                  class="bg-pink-500 active:bg-pink-600 uppercase text-white font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1"
                  type="button" style="transition: all 0.15s ease 0s;" routerLink='/perfil10'>
                  más información
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="pt-6 w-full md:w-4/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-400">
                <i class="fas fa-fingerprint"></i>
              </div>
              <h6 class="text-xl font-semibold"> EB Marcelino Pineda Lopez</h6>
              <p class="mt-2 mb-4 text-gray-600">

                Situada en la aldea San Juan en el departamento de La Paz, cuenta con una matrícula de 25 alumnos, la
                baja matrícula se debe a los escasos recursos de la familias localizadas en la aldea San Juan.</p>
              <div class="py-6 px-3 mt-32 sm:mt-0">
                <button
                  class="bg-pink-500 active:bg-pink-600 uppercase text-white font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1"
                  type="button" style="transition: all 0.15s ease 0s;" routerLink='/perfil11'>
                  más información
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<!--<app-footers></app-footers> -->